@import url(../../../css/csslayer.css);
#table {
  display: flex;
  justify-content: center;
  align-items: center;
}
#table .ferry-spot {
  top: 233px;
  left: 136px;
  position: absolute;
  width: 185px;
  transform-origin: top center;
}
#table .ferry-spot .weight-indicator {
  right: 5px;
  top: 5px;
}
#table .ferry-spot.position0 {
  transform: rotate(0deg) translateY(235px);
}
#table .ferry-spot.position1 {
  transform: rotate(72deg) translateY(235px);
}
#table .ferry-spot.position2 {
  transform: rotate(144deg) translateY(235px);
}
#table .ferry-spot.position3 {
  transform: rotate(216deg) translateY(235px);
}
#table .ferry-spot.position4 {
  transform: rotate(288deg) translateY(235px);
}
#table .ferry-spot .ferry-card {
  background: url("img/ferry-back.jpg");
  width: 185px;
  height: 132px;
  cursor: default;
  margin: 0;
}
#table .ferry-spot .ferry-card.empty {
  display: none;
}
#table .ferry-spot .animal-card {
  position: absolute;
  left: 40px;
  width: 132px;
  height: 185px;
  background-image: url("img/cards.jpg");
  border-radius: 10px;
}
#table #center-board {
  position: relative;
  width: 466px;
  height: 466px;
  background: url("img/board.png");
}
#table #center-board #noah {
  background: url("img/noah.png");
  background-position: 50% 50%;
  z-index: 5;
  box-shadow: 0 0 5px 5px white;
}
#table #center-board .noah-spot {
  position: absolute;
  top: 233px;
  left: 163px;
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 4;
  transform-origin: top center;
  transition: transform 0.5s;
  border-radius: 50%;
}
#table #center-board .noah-spot.selectable {
  cursor: pointer;
  pointer-events: all;
  border: 5px dashed red;
}
#table #center-board .noah-spot.position0 {
  transform: rotate(0deg) translateY(50px);
}
#table #center-board .noah-spot.position1 {
  transform: rotate(72deg) translateY(50px);
}
#table #center-board .noah-spot.position2 {
  transform: rotate(144deg) translateY(50px);
}
#table #center-board .noah-spot.position3 {
  transform: rotate(216deg) translateY(50px);
}
#table #center-board .noah-spot.position4 {
  transform: rotate(288deg) translateY(50px);
}
#table #center-board .point-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  box-shadow: 1px 1px 2px 2px black;
  border-radius: 50%;
  transition: transform 0.5s;
}
#table #center-board #ferry-deck {
  position: absolute;
  top: 100px;
  left: 150px;
  background: url("img/ferry-back.jpg");
  width: 185px;
  height: 132px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
  cursor: default;
}
#table #center-board .remaining-counter {
  position: absolute;
  text-align: center;
  text-shadow: 0 0 2px white;
}
#table #center-board #remaining-ferry-counter {
  top: 280px;
  left: 244px;
}

#noah-help-button {
  position: fixed;
  bottom: 75px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: white;
  font-weight: bold;
  color: black;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px black;
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #noah-help-button {
    bottom: 5px;
  }
}
#popin_noahHelpDialog {
  background: #8fccec;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-popin {
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
#help-popin h1 {
  color: black;
}
#help-popin .icon {
  width: 20px;
  height: 20px;
  margin: -5px 0;
}
#help-popin .help-section table {
  border-spacing: 10px;
  border-collapse: separate;
}
#help-popin .help-animals .animal {
  width: 132px;
  height: 185px;
  background-image: url("img/cards.jpg");
}
#help-popin .help-animals #animal1 {
  background-position: 11.1111111111% 0%;
}
#help-popin .help-animals #animal2 {
  background-position: 33.3333333333% 0%;
}
#help-popin .help-animals #animal3 {
  background-position: 66.6666666667% 0%;
}
#help-popin .help-animals #animal4 {
  background-position: 77.7777777778% 0%;
}
#help-popin .help-animals #animal5 {
  background-position: 100% 0%;
}
#help-popin .help-animals #animal20 {
  background-position: 55.5555555556% 100%;
}
#help-popin .help-animals #animal21 {
  background-position: 88.8888888889% 100%;
}

.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .charcoalium-counter, .player-board .counters .wood-counter, .player-board .counters .copper-counter, .player-board .counters .crystal-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .icon {
  margin-right: 5px;
}
.player-board .first-player {
  width: 48px;
  height: 48px;
}

html {
  background: url("img/background.jpg") #2DA7EA;
  background-repeat: no-repeat;
}

.mode_3d #game_play_area_background {
  background: url("img/background.jpg") #2DA7EA;
  background-repeat: no-repeat;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #full-table {
  transform-origin: left top;
}

#round-counter-wrapper {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
}
#round-counter-wrapper .counter {
  margin-top: 5px;
  font-size: 130%;
}

.stockitem {
  border-radius: 10px;
  margin: 5px;
}
.stockitem.selected {
  box-shadow: 0 0 5px 6px white;
}
.stockitem.disabled {
  filter: contrast(0.5);
  cursor: not-allowed;
}

#myhand-wrap {
  display: flex;
  padding: 0;
}
#myhand-wrap #my-hand-label {
  display: flex;
  padding-right: 5px;
}
#myhand-wrap #my-hand-label h3 {
  flex: 1;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
}
#myhand-wrap #my-animals {
  flex: 1;
}

.spectatorMode #myhand-wrap {
  display: none;
}
