@import url(../../../css/csslayer.css);
#table {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#table .ferry-spot {
  top: 233px;
  left: 130px;
  position: absolute;
  width: 185px;
  transform-origin: top center;
  border-radius: 10px;
  transition: box-shadow 0.5s, background-color 0.5s, transform 1s ease-in, opacity 1s ease-in;
}
#table .ferry-spot.active {
  background-color: #FFFFFFBB;
  animation: 2s ease-in-out infinite alternate glow;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 10px #FFFFFFBB;
  }
  to {
    box-shadow: 0 0 20px 20px #FFFFFFBB;
  }
}
#table .ferry-spot .weight-indicator {
  right: 5px;
  top: 5px;
}
#table .ferry-spot .ferry-card {
  background: url("img/ferry.jpg");
  width: 179px;
  height: 128px;
  cursor: default;
  margin: 0;
}
#table .ferry-spot .ferry-card.empty {
  display: none;
}
#table .ferry-spot .ferry-card.roomates {
  background: url("img/ferry-roomates.jpg");
}
#table .ferry-spot .animal-card {
  transform-origin: top center;
  position: absolute;
  left: 25px;
  width: 128px;
  height: 179px;
  background-image: url("img/cards.jpg");
  border-radius: 10px;
}
#table .ferry-spot .animal-card.unselectable {
  filter: contrast(0.6);
}
#table .ferry-spot .animal-card.selectable {
  cursor: pointer;
}
#table #center-board {
  position: relative;
  width: 444px;
  height: 466px;
  background: url("img/board.png");
}
#table #center-board #noah {
  background: url("img/noah.png");
  z-index: 5;
  box-shadow: 0 0 5px 5px white;
}
#table #center-board .noah-spot {
  position: absolute;
  top: 233px;
  left: 182px;
  width: 71px;
  height: 71px;
  z-index: 4;
  transform-origin: top center;
  transition: transform 0.5s;
  border-radius: 50%;
}
#table #center-board .noah-spot.selectable {
  cursor: pointer;
  border: 5px dashed red;
}
#table #center-board .noah-spot.position0 {
  transform: rotate(90deg) translateY(90px);
}
#table #center-board .noah-spot.position1 {
  transform: rotate(162deg) translateY(90px);
}
#table #center-board .noah-spot.position2 {
  transform: rotate(234deg) translateY(90px);
}
#table #center-board .noah-spot.position3 {
  transform: rotate(306deg) translateY(90px);
}
#table #center-board .noah-spot.position4 {
  transform: rotate(378deg) translateY(90px);
}
#table #center-board .point-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 50%;
  transition: transform 0.5s;
  background: url("img/tear.png") no-repeat;
  background-position: center;
}
#table #center-board #ferry-deck {
  position: absolute;
  top: 156px;
  left: 130px;
  background: url("img/ferry.jpg");
  width: 179px;
  height: 128px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
  cursor: default;
}
#table #center-board #ferry-deck.roomates {
  background: url("img/ferry-roomates.jpg");
}
#table #center-board .remaining-counter {
  position: absolute;
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white;
}
#table #center-board #remaining-ferry-counter {
  top: 300px;
  left: 136px;
  width: 179px;
}

#noah-help-button {
  position: fixed;
  bottom: 75px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: white;
  font-weight: bold;
  color: black;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px black;
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #noah-help-button {
    bottom: 5px;
  }
}
#popin_noahHelpDialog {
  background: #8fccec;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-popin {
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
#help-popin h1 {
  color: black;
}
#help-popin .icon {
  width: 20px;
  height: 20px;
  margin: -5px 0;
}
#help-popin .help-section table {
  border-spacing: 10px;
  border-collapse: separate;
}
#help-popin .help-animals .animal {
  width: 128px;
  height: 179px;
  background-image: url("img/cards.jpg");
  border-radius: 10px;
}
#help-popin .help-animals #animal1 {
  background-position: 11.1111111111% 0%;
}
#help-popin .help-animals #animal2 {
  background-position: 33.3333333333% 0%;
}
#help-popin .help-animals #animal3 {
  background-position: 66.6666666667% 0%;
}
#help-popin .help-animals #animal4 {
  background-position: 77.7777777778% 0%;
}
#help-popin .help-animals #animal5 {
  background-position: 100% 0%;
}
#help-popin .help-animals #animal20 {
  background-position: 55.5555555556% 100%;
}
#help-popin .help-animals #animal21 {
  background-position: 88.8888888889% 100%;
}

.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .icon {
  margin-right: 5px;
}
.player-board .player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/cards.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

html {
  background: linear-gradient(180deg, #92dcf8 0%, #1577c6 100%);
}

.mode_3d #game_play_area_background {
  background: linear-gradient(180deg, #92dcf8 0%, #1577c6 100%);
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #full-table {
  transform-origin: left top;
}

#pagesection_gameview {
  background: url("img/wave.svg") no-repeat #92dcf8;
  background-size: cover;
  transition: background-position 0.5s ease;
}
#pagesection_gameview.downcolor {
  background: url("img/wave.svg") no-repeat #1577c6;
}

#round-counter-wrapper, #solo-counter-wrapper {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
}
#round-counter-wrapper .counter, #solo-counter-wrapper .counter {
  margin-top: 5px;
  font-size: 130%;
}

.stockitem {
  border-radius: 10px;
  margin: 5px;
}
.stockitem.selected {
  box-shadow: 0 0 5px 6px white;
}
.stockitem.disabled {
  filter: contrast(0.5);
  cursor: not-allowed;
}

#myhand-wrap {
  display: flex;
  padding: 0;
}
#myhand-wrap #my-hand-label {
  display: flex;
  padding-right: 5px;
}
#myhand-wrap #my-hand-label h3 {
  flex: 1;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
}
#myhand-wrap #my-animals {
  flex: 1;
}

.spectatorMode #myhand-wrap {
  display: none;
}

#opponent-hand {
  width: 660px;
  max-width: 90vh;
}

#full-table[data-hand-position=before] .choose-opponent-discussion_bubble {
  top: 100%;
  bottom: unset;
  cursor: default;
}
#full-table[data-hand-position=before] .choose-opponent-discussion_bubble::after {
  top: -10px;
  bottom: unset;
  border-width: 0 15px 15px 15px;
}

#order-selector {
  display: flex;
  justify-content: center;
}
#order-selector .order-card-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
#order-selector .order-card-zone .animal-card {
  display: inline-block;
  left: 25px;
  width: 128px;
  height: 179px;
  background-image: url("img/cards.jpg");
  border-radius: 10px;
  pointer-events: none;
}
#order-selector .order-card-zone .selector {
  position: relative;
  background-image: url("img/select-card-order.svg");
  width: 180px;
  height: 110px;
}
#order-selector .order-card-zone .selector .selector-arrow {
  width: 100%;
  height: 20px;
  position: absolute;
  cursor: pointer;
}
#order-selector .order-card-zone .selector .selector-arrow[data-selected=true] {
  border: 1px solid red;
  box-shadow: 0 0 2px 2px red;
}
#order-selector .order-card-zone .selector .selector-arrow[data-number="1"] {
  top: 7px;
}
#order-selector .order-card-zone .selector .selector-arrow[data-number="2"] {
  top: 30px;
}
#order-selector .order-card-zone .selector .selector-arrow[data-number="3"] {
  top: 52px;
}

.noah-tooltip-with-list li {
  list-style: unset;
}
