  .ferry-spot {
    top: 233px;
    left: 130px;
    position: absolute;
    width: 185px;
    transform-origin: top center;
    border-radius: 10px;
    transition: box-shadow 0.5s, background-color 0.5s, transform 1s ease-in, opacity 1s ease-in;

    &.active {
      background-color: #FFFFFFBB;
      animation: 2s ease-in-out infinite alternate glow;
    }

    @keyframes glow {
      from { box-shadow: 0 0 10px 10px #FFFFFFBB; }
      to   { box-shadow: 0 0 20px 20px #FFFFFFBB; }
    }

    .weight-indicator {
      right: 5px;
      top: 5px;
    }

    @for $i from 0 through 4 {
      &.position#{$i} {
          transform: rotate(#{72 * $i + 90}deg) translateY(222px);
      }
    }
  
    .ferry-card {
      background: url('img/ferry.jpg');
      width: 179px;
      height: 128px;
      cursor: default;
      margin: 0;

      &.empty {
        display: none;
      }

      &.roomates {
        background: url('img/ferry-roomates.jpg');
      }
    }

    .animal-card {
      transform-origin: top center;
      position: absolute;
      left: 25px;
      width: 128px;
      height: 179px;
      background-image: url('img/cards.jpg');
      border-radius: 10px;
      pointer-events: none;

      &.unselectable {
        filter: contrast(0.6);
      }
      &.selectable {
        pointer-events: all;
        cursor: pointer;
      }
    }
  }