  .ferry-spot {
    top: 233px;
    left: 116px;
    position: absolute;
    width: 185px;
    transform-origin: top center;
    //height: 400px;
    //background: #0000ff88;

    @for $i from 0 through 4 {
      &.position#{$i} {
          transform: rotate(72deg * $i) translateY(130px);
      }
    }

    .noah-spot {
      position: absolute;
      left: 20px;
      top: 10px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      pointer-events: none;
      z-index: 4;

      &.selectable {
        cursor: pointer;
        pointer-events: all;
        border: 5px dashed red;
      }
    }
  
    .ferry-card {
      background: url('img/ferry-back.jpg');
      width: 185px;
      height: 132px;
      cursor: default;
      margin: 0;
    }

    .animal-card {
      position: absolute;
      left: 40px;
      width: 132px;
      height: 185px;
      background-image: url('img/cards.jpg');
      border-radius: 10px;
    }
  }