  .ferry-spot {
    top: 233px;
    left: 136px;
    position: absolute;
    width: 185px;
    transform-origin: top center;
    border-radius: 10px;
    transition: box-shadow 0.5s, background-color 0.5s;

    &.active {
      background-color: #FFFFFFBB;
      box-shadow: 0 0 5px 5px #FFFFFFBB;
    }

    .weight-indicator {
      right: 5px;
      top: 5px;
    }

    @for $i from 0 through 4 {
      &.position#{$i} {
          transform: rotate(72deg * $i) translateY(235px);
      }
    }
  
    .ferry-card {
      background: url('img/ferry-back.jpg');
      width: 185px;
      height: 132px;
      cursor: default;
      margin: 0;

      &.empty {
        display: none;
      }
    }

    .animal-card {
      position: absolute;
      left: 40px;
      width: 132px;
      height: 185px;
      background-image: url('img/cards.jpg');
      border-radius: 10px;
    }
  }