#table {
  @import 'ferry/ferry';

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  #center-board {
    position: relative;
    width: 444px;
    height: 466px;
    background: url('img/board.png');

    #noah {
      background: url('img/noah.png');
      z-index: 5;
      box-shadow: 0 0 5px 5px white;
    }

    .noah-spot {
      position: absolute;
      top: 233px;
      left: 182px;
      width: 71px;
      height: 71px;
      //pointer-events: none;
      z-index: 4;
      transform-origin: top center;
      transition: transform 0.5s;
      border-radius: 50%;

      &.selectable {
        cursor: pointer;
        //pointer-events: all;
        border: 5px dashed red;
      }

      @for $i from 0 through 4 {
        &.position#{$i} {
            transform: rotate(72deg * $i + 90) translateY(90px);
        }
      }
    }

    .point-marker {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      box-shadow: 1px 1px 1px 1px black;
      border-radius: 50%;
      transition: transform 0.5s;
      background: url('img/tear.png') no-repeat;
      background-position: center;
    }

    #ferry-deck {
      position: absolute;
      top: 156px;
      left: 130px;
      background: url('img/ferry.jpg');
      width: 179px;
      height: 128px;
      box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
      cursor: default;

      &.roomates {
        background: url('img/ferry-roomates.jpg');
      }
    }

    .remaining-counter {
      position: absolute;
      text-align: center;
      white-space: nowrap;    
    }
  }
}