
$animal-width: 132px; 
$animal-height: 185px;

#noah-help-button {
    position: fixed;
    bottom: 75px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: white;
    font-weight: bold;
    color: black;
    border-radius: 25px;
    box-shadow: 3px 5px 5px 0px rgb(0 0 0);
    cursor: pointer;
    z-index: 949;
    font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
    #noah-help-button {
        //display: none;
        bottom: 5px;
    }
}

#popin_noahHelpDialog {
    background: #8fccec;
    max-width: 100vw;
    max-height: 80vh;
    overflow: hidden;
}

#help-popin {
    max-width: 35rem;
    max-height: calc(80vh - 80px);
    overflow: auto;

    h1 {
        color: black;
    }

    
    .icon {
        width: 20px;
        height: 20px;
        margin: -5px 0;
    }

    .help-section {    
        table {
            border-spacing: 10px;
            border-collapse: separate;
        }
    }

    .help-animals {
        .animal {
            width: $animal-width; 
            height: $animal-height;
            background-image: url('img/cards.jpg');
        }

        #animal1 {
            background-position: (100% / 9) 0%;
        }
        #animal2 {
            background-position: (300% / 9) 0%;
        }
        #animal3 {
            background-position: (600% / 9) 0%;
        }
        #animal4 {
            background-position: (700% / 9) 0%;
        }
        #animal5 {
            background-position: (900% / 9) 0%;
        }

        #animal20 {
            background-position: (500% / 9) 100%;
        }
        #animal21 {
            background-position: (800% / 9) 100%;
        }
    }
}