
$animal-width: 190px; 
$animal-height: 190px;

#noah-help-button {
    position: fixed;
    bottom: 75px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: white;
    font-weight: bold;
    color: black;
    border-radius: 25px;
    box-shadow: 3px 5px 5px 0px rgb(0 0 0);
    cursor: pointer;
    z-index: 949;
    font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
    #noah-help-button {
        //display: none;
        bottom: 5px;
    }
}

#popin_noahHelpDialog {
    background: #8fccec;
    max-width: 100vw;
    max-height: 80vh;
    overflow: hidden;
}

#help-popin {
    max-width: 35rem;
    max-height: calc(80vh - 80px);
    overflow: auto;

    h1 {
        color: black;
    }

    
    .icon {
        width: 20px;
        height: 20px;
        margin: -5px 0;
    }

    .help-section {    
        table {
            border-spacing: 10px;
            border-collapse: separate;
        }
    }

    #help-animals {
        .animal {
            width: $animal-width; 
            height: $animal-height;
            background-image: url('img/cards.jpg');
        }
        @for $i from 0 through 15 {
            #animal#{$i} {
                background-position: ($i * 100% / 15) 0%;
            }
        }
    }
}