@import url(../../../css/csslayer.css);

@import 'table/table';
@import 'help';
.player-board {
  @import 'playerboards';
}

html {
  background: linear-gradient(180deg, #92dcf8 0%, #1577c6 100%);
}

.mode_3d #game_play_area_background {
  background: linear-gradient(180deg, #92dcf8 0%, #1577c6 100%);
}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }

  #full-table {
    transform-origin: left top;
  }
}

#pagesection_gameview {
  background: url("img/wave.svg") no-repeat #92dcf8;
  background-size: cover;
  transition: background-position 0.5s ease;

  &.downcolor {
    background: url("img/wave.svg") no-repeat #1577c6;
  }
}

#round-counter-wrapper, #solo-counter-wrapper {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;

  .counter {
    margin-top: 5px;
    font-size: 130%;
  }
}

.stockitem {
  border-radius: 10px;
  margin: 5px;

  &.selected {
    box-shadow: 0 0 5px 6px white;
  }
    
  &.disabled {
      filter: contrast(0.5);
      cursor: not-allowed;
      // pointer-events: none;
  }
}


#myhand-wrap {
  display: flex;
  padding: 0;

  #my-hand-label {
    display: flex;
    padding-right: 5px;

    h3 {
      flex: 1;
      text-align: center;
      writing-mode: vertical-lr;
      transform: rotate(180deg);    
      //color: white;
      padding: 5px;
    }
  }

  #my-animals {
    flex: 1;
  }
}

.spectatorMode #myhand-wrap {
  display: none;
}

#opponent-hand {
    width: 660px;
    max-width: 90vh;
}

#order-selector {
  display: flex;
  justify-content: center;

  .order-card-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;

    .animal-card {
      display: inline-block;
      left: 25px;
      width: 128px;
      height: 179px;
      background-image: url('img/cards.jpg');
      border-radius: 10px;
      pointer-events: none;
    }

    .selector {
      position: relative;
      background-image: url('img/select-card-order.svg');
      width: 180px;
      height: 110px;

      .selector-arrow {
        width: 100%;
        height: 20px;
        position: absolute;
        cursor: pointer;

        &[data-selected="true"] {
          border: 1px solid red;
          box-shadow: 0 0 2px 2px red;
        }

        &[data-number="1"] {
          top: 7px;
        }

        &[data-number="2"] {
          top: 30px;
        }

        &[data-number="3"] {
          top: 52px;
        }
      }
    }
  }
}

.noah-tooltip-with-list {
  li {
    list-style: unset;
  }
}