@import url(../../../css/csslayer.css);

@import 'table/table';
@import 'help';
.player-board {
  @import 'playerboards';
}

html {
    background: url('img/background.jpg') #2DA7EA;
    background-repeat: no-repeat;
}

.mode_3d #game_play_area_background {
    background: url('img/background.jpg') #2DA7EA;
    background-repeat: no-repeat;
}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }

  #full-table {
    transform-origin: left top;
  }
}

#round-counter-wrapper, #solo-counter-wrapper {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;

  .counter {
    margin-top: 5px;
    font-size: 130%;
  }
}

.stockitem {
  border-radius: 10px;
  margin: 5px;

  &.selected {
    box-shadow: 0 0 5px 6px white;
  }
    
  &.disabled {
      filter: contrast(0.5);
      cursor: not-allowed;
      // pointer-events: none;
  }
}


#myhand-wrap {
  display: flex;
  padding: 0;

  #my-hand-label {
    display: flex;
    padding-right: 5px;

    h3 {
      flex: 1;
      text-align: center;
      writing-mode: vertical-lr;
      transform: rotate(180deg);    
      //color: white;
      padding: 5px;
    }
  }

  #my-animals {
    flex: 1;
  }
}

.spectatorMode #myhand-wrap {
  display: none;
}

#opponent-hand {
    width: 660px;
    max-width: 90vh;
}